<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LUKE</title>
    <META name="description" content="眼镜,眼镜店,连锁眼镜店,眼镜店erp">
    <meta name="keywords" content="眼镜,眼镜店,连锁眼镜店,眼镜店erp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="js/b/bootstrap/html5shiv.js"></script>
    <script src="js/b/bootstrap/respond.min.js"></script>

    <![endif]-->

    <script type="application/javascript">
        if (navigator.userAgent.indexOf("Chrome") < 0 || navigator.userAgent.indexOf("Firefox") < 0) {
            var isDownload = confirm("请使用Chrome或者Firefox浏览器，是否下载？");
            if (isDownload) {
                window.location.href = "download/soft/chrome.exe"
            }
        }
    </script>


    <script th:inline="javascript">
        // var systime = [[${#dates.format(systime,'yyyy-MM-dd HH:mm:ss')}]] ;
        var systime  = [[${systime.time}]] ;
        var localhost = [[${localhost}]] ;
        // document.getElementsByTagName("title")[0].innerText= [[${lukeAppName}]] ;
    </script>
    <script type="application/javascript" data-main="app/app.js" src="js/b/require.min.js"></script>
    <script>
        requirejs(['login/login'],function(V){
            if(typeof(V)=="function"){
                new V () ;
            }
        }) ;
    </script>
</head>
<body>
    login:如果看到此页面请刷新
</body>
</html>